<div class="app-container">
  <mat-card>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="initNewPlayer()"
    >
      Create a New Player
    </button>

    <table mat-table [dataSource]="players" class="mat-elevation-z8">
      
      <ng-container matColumnDef="nickName">
        
        <th mat-header-cell *matHeaderCellDef>Nick Name</th>
        <td mat-cell *matCellDef="let player">{{ player.nickName }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let player">{{ player.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let player">{{ player.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef>Team</th>
        <td mat-cell *matCellDef="let player">{{ player.team }}</td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let player">
          <button
            type="button"
            mat-button
            color="primary"
            (click)="editPlayer(player)"
          >
            Edit
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>

    <app-edit-player
      [player]="playerToEdit"
      (playersUpdated)="updatePlayerList($event)"
    ></app-edit-player>
  </mat-card>
</div>
